.boxEdit {
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  transition: 0.25s;
  margin-top: 20px;
  background: white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -2px rgba(0, 0, 0, 0);
}

.boxEdit input[name="title"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 400px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.boxEdit textarea[name="body"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 400px;
  height: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  resize: none;
}

.boxEdit h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.boxEdit input[id="edit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fcff37;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bold;
}

.boxEdit input[id="edit"]:hover {
  background: #fcff37;
}

.btn-login[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

/* Medias queries */
@media (max-width: 460px) {
  .boxEdit {
    width: 350px;
    padding: 10px;
  }

  .boxEdit input[name="title"] {
    width: 300px;
  }

  .boxEdit textarea[name="body"] {
    width: 300px;
  }
}
