.box {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  transition: 0.25s;
  margin-top: 70px;
  background: white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px -2px rgba(0, 0, 0, 0);
}

.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[name="login"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bold;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.btn-login[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

/* Medias queries */
@media (max-width: 460px) {
  .box {
    width: 350px;
    padding: 10px;
  }

  .box input[type="email"] {
    width: 300px;
  }

  .box textarea[type="password"] {
    width: 300px;
  }
}
